div.float{
    width: 100%;
    background-color: rgb(245, 224, 200);
    padding-right: 30px;
    margin: 0;
    padding: 10px 10px 10px 5px;
    text-align: center;
}

div div{
    background: bisque;
    margin: 10px 10px 10px 0;
    width: 100%;
    height: 8em;
}
div div h1{
    float: left;
    width: 20%;
    clear: left;
    margin: 0;
    padding: 40px;
    font-size: 35px;
  
    border-right: rgb(115, 227, 235) solid 5px;
    height:48px ;
}


ul
{
float: left;    
display: block;
list-style-type:none;        
margin:0;            
padding:10px;
border-left: white solid 5px;
            
                      
}                            
                                
div h1{
    color:gray;
}
div.float h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

ul.inline li{
    display: inline;
    margin-right: 50px

}
