div.float{
    float: left;
    width: 20%;
    height: 765px;
    background-color: aqua;
    padding-right: 30px;
    margin-right: 50px;
    text-align: center
}



ul
{    
list-style-type:none;        
margin:0;            
padding:0;                
padding-top: 10px;                    
padding-bottom: 10px;                        
}                            
                                
div h1{
    color:gray;
    font-size: 40px;
}
div.float h1{
    font-size: 80px
}

ul.inline li{
    display: inline;
    margin-right: 50px

}
